<head>
  	<title>{{ .Title }} — BHSAD Webspace CMS</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

	{{ $stylesheet := .Site.Data.webpack.main }}
	{{ with $stylesheet.css }}
		<link href="{{ relURL . }}" rel="stylesheet">
	{{ end }}

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  	<base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>

	{{ if .IsHome }}
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	{{ end }}
</head>