{{ define "main" }}

<div class="container">

	{{ partial "nav" . }}

    <div class="intro">
		<h1>{{.Title}}</h1>
	</div>

    <div class="contacts">
		<div class="contacts-intro">

			{{ .Content }}

		</div>

		<div class="contacts-entries">
			{{ range .Params.contact_entries }}
				<div class="contacts-entries-item">
					<h4>{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>

		<div class="contacts-links">
			{{ range .Params.links }}
				<div>
					<a href="{{ .link }}" target="_blank" rel="noopener noreferrer">{{ .title }}</a>
				</div>
			{{ end }}
		</div>
	</div>

</div>

{{ end }}
