@font-face {
  font-family: "MADE-Sunflower";
  src: url("/fonts/MADE-Sunflower.otf");
}

body {
  background-color: #AEAEAE;
  font-family: "MADE-Sunflower";
  font-size: 1.3vw;
}

img {
  width: 100%;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

.container {
  padding: 2vw;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro {
  height: 20vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro h1 {
  font-size: 4vw;
  line-height: 5vw;
  margin-bottom: 2vw;
  text-align: center;
}

.intro h2 {
  font-size: 2vw;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-image {
  width: 80%;
}

.content-text {
  text-align: center;
  padding: 2vw;
  margin-bottom: 2vw;
}

.content-text h2 {
  font-size: 2vw;
  margin-bottom: 2vw;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.gallery-item {
  width: 60%;
  margin-bottom: 20px;
}

.gallery-item h2 {
  padding: 1vw;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5vw;
  line-height: 2vw;
}

.post-intro {
  width: 70%;
}

.post-content {
  width: 70%;
}

.post img {
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.post p {
  padding-bottom: 1vw;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5vw;
  line-height: 2vw;
}

.contacts-intro {
  width: 70%;
}

.contacts-entries {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-entries-item {
  padding-right: 5vw;
}

.contacts-links {
  width: 70%;
}

.contacts p {
  padding-bottom: 1vw;
}
/*# sourceMappingURL=style.css.map */