{{ define "main" }}

<div class="container">
    
    {{ partial "nav" . }}
    
    <div class="intro">
        <h1>{{.Params.title}}</h1>
        <h2>{{.Params.subtitle}}</h2>
    </div>

    <div class="content">
        <div class="content-image">
            <img src="{{ .Params.image }}" alt="{{ .Title }}" />
        </div>
        <div class="content-text">
            <h2>{{.Params.intro.heading}}</h2>
            <p>{{.Params.intro.text}}</p>
        </div>
    </div>

    <div class="gallery">
        {{ range .Paginator.Pages.ByPublishDate.Reverse }}
            <div class="gallery-item">
                <a href="{{ .RelPermalink }}">
                    <img src="{{ .Params.image }}" alt="{{ .Title }}" />
                    <h2>{{ .Title }}</h2>
                    <p>{{ .Date.Format "2006" }}</p>
                </a>
            </div>
        {{ end }}
    </div>

</div>

{{ end }}
